.container {
  overflow: hidden;
}

.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9vh !important;
  color: rgb(0, 0, 0);
  font-size: 10vh;
}

.inputField {
  position: fixed;
  top: 35%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(230, 229, 229, 0.584);
  height: 4vh !important;
  padding: 1vh;
  padding-left: 1vh;
  width: 50vh !important;
  z-index: 5;
  border-radius: 0.7vh;
  border: 0px solid;
  color: rgba(0, 0, 0, 0.49) !important;
  font-size: 1.7vh;
}

@media only screen and (max-width: 700px) {
.inputField {
  position: absolute;
  top: 43%;
  left: 35%;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    position: absolute;
    top: 12%;
    font-size: 5vh !important;
    text-align: left;
    left: 5%;
    }
  }

.eclipse{
  position: fixed;
  width: 80vh;
  height: 65vh;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  background: rgb(248, 55, 55);
  filter: blur(6vh);
  border-radius: 75%;
  z-index: 1;
  overflow: none;
  margin-bottom: 2.5em;
}

@media only screen and (max-width: 700px) {
  .eclipse {
    position: absolute;
    top: 15%;
    left: -1%;
    height: 60vh;
    width: 57vh;
    }
  }

.email{
  position: absolute;
  top: 47%;
  left: 7%;
  height: 2vh;
  width: 65vh;
  border-radius: 1vh;
  border: none;
  background-color: rgba( 255, 255, 255, 0.25 );
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: left;
  padding: 1.5vh;
  font-size: 1.8vh;
  z-index: 2;
  color: rgba(0, 0, 0, 0.49);
}

@media only screen and (max-width: 700px) {
  .email{
    position: absolute;
    top: 35%;
    left: 10%;
    height: 2vh;
    width: 40vh;
    border-radius: 5px;
    padding: 1.5vh;
    font-size: 1.8vh;
    z-index: 2;
  }
}

.credits{
position: absolute;
top: 95%;
left: 42%;
z-index: 1;
size: 0.7vh;
color: rgba(99, 99, 99, 0.61) !important;
font-weight: normal !important;
font-size: 2vh;
}

.creditsRef{
color: rgba(99, 99, 99, 0.61) !important;
font-weight: normal !important;
}

.texture{
z-index: 3;
height: 5vh;
width: 5vh;
opacity: 0.4
}

@media only screen and (max-width: 700px) {
.credits{
  position: absolute;
  top: 95%;
  left: 20%;
  size: 0.7vh;
}
}